<form action="/search" class="well form-search" method="post">
  <label>I'm looking for </label>
  <input type="text" name="q" class="input-medium search-query span9" placeholder="type name, title...">
  <button type="submit" class="btn">Submit</button>
</form>