<div class="well">
  <span>
    <strong>author: </strong> jakub.oboza
  </span>
  <br />
    <span>
    <strong>email: </strong> jakub.oboza<at>gmail.com
  </span>
  <br />
    <span>
    <strong>author: </strong> <a href="http://no-fucking-idea.com">http://no-fucking-idea.com</a>
  </span>
</div>